:root{
    --color: rgb(20, 20, 20);
    --color_claro: rgba(105, 105, 105, 0.733);
    --color_oscuro_btn: #2c5367;
    --colortexto:rgb(0, 60, 95)
    /* --color_oscuro_btn: #664822; */
}
.contenedor_reloj{
        /* "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; */
    grid-area:contenedor_reloj;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    margin: 5px;
    font-family: 'Share Tech Mono', monospace;
    
}
.div_etiqueta_aviso{
    margin-bottom: 7px;
}
.aviso_tiempo{
    /* background-color:bisque ; */
    margin-top: 3px;
    font-family: 'Share Tech Mono', monospace;
    /* font-weight: 500; */
    color: white;
    /* font-size: 14px; */
}

.div_carcasa{
    background-color: var(--color_oscuro_btn);
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    border-style: solid;
}
.div_tiempo{
    margin: 5px;
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.div_botones_timer{
    margin-top: 5px;
    height: max-content;
    width: 100px;
    display: flex;
    justify-content: space-between;
/* background-color: aqua; */

}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: var(--color_oscuro_btn);
    /* background-color: white; */
    border-style: none;
}

.aviso_botones{
    font-size: medium;
}

.fa-play{
    color: white;
}
.fa-pause{
    color: white;
}
.fa-stop{
    color: white;
}
.fa-split{
    color:white;
}
.fa-flag{
    color: white;
}


